<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> 
    <style>
    * {
      box-sizing: border-box;
    }

    #myInput {
      background-position: 10px 10px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }

    #myTable {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
      font-size: 18px;
    }

    #myTable th, #myTable td {
      text-align: left;
      padding: 12px;
    }

    #myTable tr {
      border-bottom: 1px solid #ddd;
    }

    #myTable tr.header, #myTable tr:hover {
      background-color: #f1f1f1;
    }
    </style>
    <title>Hello, world!</title>
  </head>
  <body>
    <%- model_class = Order -%>
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
    </div>
    
    <table class="table table-striped sortable" id="example">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:reference) %></th>
          <th><%= model_class.human_attribute_name(:purchase_channel) %></th>
          <th><%= model_class.human_attribute_name(:client_name) %></th>
          <th><%= model_class.human_attribute_name(:adress) %></th>
          <th><%= model_class.human_attribute_name(:delivery_service) %></th>
          <th><%= model_class.human_attribute_name(:total_value) %></th>
          <th><%= model_class.human_attribute_name(:line_items) %></th>
          <th><%= model_class.human_attribute_name(:batch_id) %></th>
          <th><%= model_class.human_attribute_name(:status) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
        </tr>
      </thead>
      <tbody id="myTable">
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.id, order_path(order) %></td>
            <td><%= order.reference %></td>
            <td><%= order.purchase_channel %></td>
            <td><%= order.client_name %></td>
            <td><%= order.adress %></td>
            <td><%= order.delivery_service %></td>
            <td><%= order.total_value %></td>
            <td><%= order.line_items %></td>
            <td><%= order.batch_id %></td>
            <td><%= order.status %></td>
            <td><%=l order.created_at %></td>
            <td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

